.App {
  text-align: center;
  min-height: 100vh;
  overflow: auto;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/* App CSS */
.app-header {
  background-color: #10304d;
  height: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: white;
}

.app-main {
  min-height: calc(100vh - 12em);
  background-color: #fddd9e;
}

.app-footer {
  background-color: #10304d;
  height: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: white;
}

/* Jokes CSS */
.title-container {
  padding-top: 2em;
}

.button-container {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.joke-container {
  margin-top: 1em;
}

.jokes-container {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3em;
}

.jokes-table {
  width: 90vw;
  border-color: #111;
}

thead {
  background-color: #dac69f;
  font-size: 1.25rem;
}

/* Table row colors, stripped */
/* Reference: https: //stackoverflow.com/questions/74106487/i-want-to-make-striped-color-table-in-react-js-i-use-map-function */
tbody tr:nth-child(odd) {
  background-color: #f6db8b;
  color: #111;
}

tbody tr:nth-child(even) {
  background-color: #dac69f;
  color: #111;
}